.table {
    & > tbody tr {
        &:hover {
            background-color: rgba($hover-tr,  1);
        }
    }  

    & th,
    & tbody {
        border-top-color: $border-td;
    }

    & td {
        & span.bg-color {
            display: inline-block;
            padding: 6px 15px;
            width: 100%;
        }
    }
} 